.menu {
  padding-bottom: 50px;
  .am-flexbox {
    text-align: center;
    padding-top: 10px;
    img {
      height: 48px;
    }
    p {
      margin-top: 7px;
      font-size: 13px;
    }
  }
  .group {
    overflow: hidden;
    padding: 0 10px;
    background-color: #f6f6f6;
    &-title {
      margin: 15px 0px;
      h3 {
        font-size: 15px;
      }
      span {
        font-size: 14px;
        color: #787d82;
      }
    }
    .am-grid {
      height: 200px;
      .am-flexbox {
        margin-bottom: 15px;
       }
      .group-item {
        .desc {
          float: left;
          padding-left: 20px;
          p {
            color: #787d82;
          }
        }
        img {
          float: right;
          width: 50px;
          height: 50px;
          line-height: 1;
          margin-right: 18px;
        }
      }
    }
  }

  .new {
    background-color: #fff;
    margin-top: 20px;
    .news-title {
      padding-left: 15px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      padding-top: 10px;
    }
    .news-item {
      display: flex;
      width: 100%;
      height: 120px;
      padding: 15px 0;
      .imgwarp {
        .img {
          width: 120px;
          height: 90px;
        }
      }
      .content {
        padding: 0 12px;
        flex: 1;
        .title {
          font-size: 14px;
          text-align: left;
        }
        .info {
          width: 100%;
          color: #787d55;
        }
      }
    }
  }

  .am-tab-bar-bar {
    height: 50px;
  }
  .am-navbar {
    background-color: #333;
  }
}

